.p-dropdown {
  position: relative;
  user-select: none;
  width: '100%';
  cursor: pointer;
  transition: all 0.2s;
  padding: 0px 2px 0px 0px;
  /* padding: 0px 50px 0px 0px; */

}
.p-dropdown .dropdown-btn {
  padding: 11px 20px;
  padding-left: 24px ;
  background-color: #fff;
  font-weight: bold;
  color: #043f7c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  position: relative;
  border: 1px solid #9B9A9A;;
  /* border: 0.5px solid #9B9A9A;; */
  border-radius: 5px;
  outline: none;
}
.p-dropdown .dropdown-btn:focus 
/* .p-dropdown .dropdown-btn:focus {border: none;} */
.p-dropdown .dropdown-btn::before {
  position: absolute;
  content: '';
  background-image: url('https://images.unsplash.com/photo-1606788168886-286b0336272d?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
  background-size: 20px;
}

.p-dropdown .dropdown-content {
  position: absolute;
  top: 107%;
  /* top: 110%; */
  /* left: 50%; */
  left: 0;

  background-color: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 280px;
  /* width: 250px; */
  z-index: 10;
}

.p-dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  transition: all 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: 'space-between';
}

.p-dropdown .dropdown-content .dropdown-item:active, .p-dropdown .dropdown-content .dropdown-item:focus{
  background-color: transparent;
}
.p-dropdown .dropdown-content .dropdown-item .item-action {
  display: flex;
  flex-direction: row;
  
}

.p-dropdown .dropdown-content .dropdown-item .item-action .item-btn {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 0px 12px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.p-dropdown .dropdown-content .dropdown-item .item-action .item-counter {
  font-size: 18px;
  /* font-size: 16px; */
  font-weight: 500;
  color: #333;
  margin-left: 4px;
  margin-right: 4px;
}

@media only screen and (min-width: 700px) {
  .p-dropdown {
    position: relative;
    user-select: none;
    width: '100%';
    cursor: pointer;
    transition: all 0.2s;
    padding: 0px 260px 0px 0px;
    /* padding: 0px 50px 0px 0px; */
  
  }
	.p-dropdown {
    margin-bottom: 20px;
  }
  .p-dropdown * {
    width: 100%;
  }
}

@media only screen and (max-width: 680px) {
	.p-dropdown {
    margin-bottom: 20px;
  }
  .p-dropdown * {
    width: 100%;
  }
}